#conteudo {
  margin-left: 260px; /* Mesmo tamanho da sidebar */
  padding: 30px;
  min-height: 100vh;
}


.dashboard-section {
  margin-left: 270px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.cards-container {
  display: flex;
  gap: 20px;
  margin: 20px 0 40px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  text-align: center;
}

.charts-container {
  display: flex;
  gap: 20px;
}

.chart-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 48%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
